<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/join.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <%- include('navbar.ejs') %>
    <div id="contain">
        <div class="login-form" style="width: 60%;" >
         <p id="header">채팅방 생성 페이지</p>
         <form action="/room" method="post">
           <input type="text" name="title"  id = "title-input" class="text-field" placeholder=" 방 제목" required><br>
           <input type="number" name="max" id = "number-input" class="text-field" placeholder="수용 인원" required><br>
           <input type="password" name = "password" placeholder="비밀번호(필수아님)" class="text-field"><br>
          <div style="text-align: center; margin-top: 10px;"> <input value="생성" id ="button-input" class="submit-btn" type="submit" style="width: 50%;"></input></div>
         </form>
         </div>
       </div>
    
</body>
</html>