

<div id="navbar">
   	
    <div id="logo">
        <a href="/">
        <img src="logo.png">
        </a>
    </div>
    
  <ul id="menu">
        <li><a href="#">프로필관리</a></li>
        <li><a href="#">채팅방</a></li>
        <li><a href="/post">공고 올리기</a></li>
        <% if(user) { %>
        <li><a href="#">환영합니다! <%= user.nick %> 님</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <input id="my-id" type="hidden" value=user.id>
        <% } else{ %>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>

</div>

