<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <%- include('navbar.ejs') %>
   <p> 공고 등록 페이지 입니다. </p>
   <div class="login-form">
    <form action="/post" method="post">
      <input type="text" name="title"  id = "title-input" class="text-field" placeholder="제목" required><br>
      <input type="text" name="content" id = "content-input" class="text-field" placeholder="내용" required><br>
      멘토링 날짜: <input type="date" name = "date" min="2020-04-19" max="2020-12-25"><br>
      시작 시간<input type="time" name="start"><br>
      종료 시간<input type="time" name ="end"><br>  
      <input value="등록하기" id ="button-input" class="submit-btn" type="submit"></input>

    </form>
</body>
</html>