  body {
      margin: 0;
      box-sizing: border-box;
   }	

    #navbar{
    	padding: 0 30px;
  		border-bottom: 1px solid #eee;
  		overflow: hidden;
  		background-color: white;
  		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  		height: 60px;
  	
    	}

    #logo{
    	float: left;
    	line-height: 60px;
    }

    #logo img{
    	width: 220px;
    	vertical-align: middle;
    }

    #menu {
    	float: right;
   		margin: 0px;
    	padding: 0px;
    	line-height: 60px;
    }	

    #menu li{
    	float: left;
    	list-style: none;
    	margin-right: 30px;

    }

    #menu li:last-child{
    	margin-right: 0px;
    }

    #menu a{
    	text-decoration: none;
    	color: #545454;
    	font-family: Helvetica;
    	font-size: 13px;
    	font-weight: bold;
    	display: block;
    }

    #menu a:hover{
    	background-color: #eeeeee;
	}
	
	@font-face{
		src: url(../fonts/BMJUA_ttf.ttf);
		font-family: "JUA";
	}
	
	body{
		background-color: #f0e8d9;
	}
	
	.main_header{
		font-family: "JUA";
		text-align: center;
		color: #58595b;
	}
	
	.main_header h1{
		font-size: 64px;
		margin-top: 75px;
		margin-bottom: 30px;
	
	}
	
	.main_header h2{
		font-size: 32px;
		margin-bottom: 75px;
	
	}
	
	.menu{
		margin-right: auto;
		margin-left: auto; 
		width: 300px;
		background-color: white;
		border-radius: 10px;
		overflow: hidden;
		font-family: "JUA";
		margin-bottom: 50px;
	
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	
	}
	
	.menu img{
		width: 100%;
	}
	
	.comment{
		color: #58595b;
		padding: 20px;
	}
	
	.comment h1{
		font-size: 20px;
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
	}
	.comment h2{
		font-size: 16px;
		text-align: left;
		margin: 0;
		margin-bottom: 16px;
	}
	
	.comment a{
		display: block;
		text-align: center;
		font-size: 16px;
		text-decoration: none;
		color: #0000ee;
	}
	
	
	.container{
		
		width: 660px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
	}

	#container{
		font-style: oblique;
		
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
		text-align: center;
		border-color: sandybrown;
	}
	
	fieldset{
		margin-top: 30px;
	}

	#table {
		border-radius: 3px;
		background-color: ivory;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#table th {
		/* border-radius: 3px; */
	}
	table, table th, table td {
		text-align: center;
		border: 1px solid goldenrod;
		border-collapse: collapse;
		border-radius: 3px;
	  }

  .join-btn {	
	font-size: 14px;
    border: 3px;
    background-color: rgb(233, 209, 148);
	width: 100%;	
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;

	}
 .join-btn:hover {
	background-color: hotpink;
	cursor: pointer;
 }

 #create-room-bottom {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
  }	  

 #create-room{
	font-size: 14px;
    border: 0;
    background-color: rgb(233, 209, 148);
    border-radius: 5px;
    margin-bottom: 30px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px; 
	margin-top: 10px;
 }	  

 #create-room-bottom a :hover{
	background-color: hotpink;
	cursor: pointer;
 }	  